@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #e5e5e5 !important;
  font-family: "Open Sans", sans-serif !important;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/*Layout CSS*/
.nav {
  background-color: #1ea4ce;
  height: 76.64px;
}
.logo {
  position: absolute;
  width: 141.25px;
  height: 40.32px;
  top: 17px;
}
.cardSpacing {
  margin-top: 24px;
}
.filter-body {
  max-height: 296px;
  overflow-y: auto;
}

.productCardSpacing {
  margin-top: 20px !important;
}
.filter-title {
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 18px;
  color: #697488;
}
.productList-title {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 26px;
  display: flex;
  align-items: center;
  letter-spacing: 0.25px;
  color: #6f6f6f;
}

/*Product CSS*/
.card {
  border-radius: 10px;
}
.card-body {
  overflow: auto;
}
.price {
  font-family: "Helvetica", "Open Sans", "sans-serif";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  margin-top: 8px;
  margin-bottom: 8px;
  color: #1ea4ce;
}
.product-title {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  color: #191919;
  margin-bottom: 25px !important;
}
.addButton {
  background: #1ea4ce !important;
  border-radius: 2px !important;
  width: 132.5px !important;
  height: 22px !important;
  text-align: center !important;
  vertical-align: center !important;
  font-style: normal !important;
  font-weight: 600 !important;
  font-size: 12px !important;
  line-height: 20px !important;
  padding: 0 !important;
  color: #ffffff !important;
  border: 0 !important;
  position: absolute;
  bottom: 0;
}
.productParentCard {
  position: relative;
  margin-top: 10px !important;
}

/*Filter CSS*/
.css-ahj2mt-MuiTypography-root {
  font-family: "Open Sans", sans-serif !important;
  color: #525252 !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-size: 14px !important;
  line-height: 18px !important;
  /* identical to box height, or 129% */
  letter-spacing: 0.16px !important;
}

::placeholder {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.15px;
  color: #a8a8a8;
}
/*Cart Button CSS*/
.cartButtonLink {
  height: 100% !important;
  padding: 0 !important;
}
.cartButton {
  width: 129px !important;
  background-color: #147594 !important;
  color: #ffffff;
  height: 100%;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.16px;
}

/*Cart Detail CSS*/
.cartDetailDiv {
  box-sizing: border-box;
  width: 100%;
  height: 338px;
  max-height: 338px;
  overflow-y: auto;
  border: 6px solid #1ea4ce;
  border-radius: 2px;
  background-color: #ffffff;
  padding: 15px;
}
.cartDetailComp {
  padding-right: 4px !important;
}
.cart-title {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.16px;
  color: #191919;
}
.cart-price {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.16px;
  color: #1ea4ce;
}
.cart-button {
  width: 25% !important;
  background-color: #ffffff !important;
  border: 0 !important;
  color: #1ea4ce !important;
}
.card-buttons {
  align-items: center;
  justify-content: center;
}
.total-amount {
  height: 51px;
  width: 92px;
  box-sizing: border-box;
  border: 1px solid #1ea4ce;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #1ea4ce;
  float: right;
  margin-top: 16px;
}
.cart-item {
  padding-top: 5px;
}
.pagination {
  justify-content: center;
  margin-top: 1rem;
}

/* width */
::-webkit-scrollbar {
  width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #ffffff;
  border-radius: 4px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #e0e0e0;
  border-radius: 4px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #b30000;
}

.css-1m9pwf3 {
  background: #ffffff !important;
  box-shadow: 0px 1px 7px rgba(93, 56, 192, 0.4) !important;
  border-radius: 2px !important;
}

.form-control {
  border: 1px solid #e0e0e0 !important;
  margin-bottom: 17px;
}

.mugToggleButton {
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
  padding: 6px 16px !important;
  width: 60px !important;
  height: 30px !important;
  background: #1ea4ce !important;
  border-radius: 2px !important;
  border: 0 !important;
  font-style: normal !important;
  font-weight: 600 !important;
  font-size: 13px !important;
  line-height: 18px !important;
  text-align: center !important;
  color: #f2f0fd !important;
  margin-left: 14px;
}
.tshirtToggleButton {
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
  padding: 6px 16px !important;
  width: 60px !important;
  height: 30px !important;
  background: #f2f0fd !important;
  border-radius: 2px !important;
  border: 0 !important;
  font-style: normal !important;
  font-weight: 600 !important;
  font-size: 13px !important;
  line-height: 18px !important;
  text-align: center !important;
  color: #1ea4ce !important;
  margin-left: 8px;
  margin-bottom: 8px;
}

.footer {
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 174%;
  color: #1ea4ce;
  text-align: center;
}

.loader {
  width: 100%;
  height: 800px;
}
.loader > div {
  justify-content: center;
  align-items: center;
  height: 100%;
}
